{% import "bootstrap/utils.html" as utils %}
{% extends "authbase.html" %}
{% block title %}Profile{% endblock %}
{% block body %}
            <main class="container-fluid">
                <div class="prof-input">
                    <h1>Hello</h1>
                    <a class="btn btn-success col-md-4 col-md-offset-4" href="{{ url_for('bucketlist.add_bucketlist') }}" type="submit">Add A Bucketlist</a>
                </div>
                <hr>
                <div class="prof-menu">
                    <h2>Bucketlists</h2>
                    {{ utils.flashed_messages()  }}
                    {% if bucketlists %} 
                        <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>id</th> 
                                <th>Title</th>
                                <th><center>Description</center></th>
                                <th><center>Actions</center></th>
                            </tr>
                        </thead>
                        <tbody> 
                                {% for bucketlist in bucketlists[1:] %}
                                    <tr>
                                        <th scope="row">{{ bucketlist['id'] }}</th>
                                        
                                        <td><a href="{{ url_for('bucketlist.view_bucketlist', id=bucketlist['id']) }}">{{ bucketlist['title'] }}</a></td>
                                        <td><center>{{ bucketlist['description'] }}</center></td>
                                        <td>
                                            <center>
                                                <a href="{{ url_for('bucketlist.edit_bucketlist', id=bucketlist['id']) }}" class="btn btn-primary">Change</a>
                                                <a href="{{ url_for('bucketlist.delete_bucketlist', id=bucketlist['id']) }}" class="btn btn-danger">Delete</a>
                                            </center>
                                        </td>
                                        </tr>
                                {% endfor %}
                        </tbody>
                        </table>
                    {% else %}
                    <div class="alert alert-info" role="alert">
                        You do not have any bucketlists. Click on the "Add A Bucketlist" buton to create a new bucketlist
                    </div>
                    {% endif %}
                </div>
            </main>
{% endblock %}