{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "authbase.html" %}
{% block title %}Bucketlist{% endblock %}
{% block body %}
<main>
    <div class="container jumbotron">
        <div class="row">
            <h4 class="col-md-6">Add goals to Bucket list: <b>{{ bucketlist['title'] }}</b></h4>
            <a class="btn btn-large btn-success col-md-3 col-md-offset-3" href="{{ url_for('profile.profilepage') }}">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"> View All Bucketlists
            </a>
        </div>
        <a class="btn btn-large btn-primary col-md-offset-5" href="{{ url_for('bucketlist.add_bucketlist_item', id=bucketlist['id']) }}">Add A Goal</a>
    </div>
    <br>
    <div class="container prof-menu">
        {% if items %}
        <h1 class="text-center"> <span class="glyphicon glyphicon-knight" aria-hidden="true"> Goals <span class="glyphicon glyphicon-knight" aria-hidden="true"></h1>
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Goals</th>
                        <th><center>Due Date</center></th>
                        <th><center>Actions</center></th>
                    </tr>
                </thead>
                <tbody> 
                        {% for item in items %}
                            
                            <tr>
                                <td>{% if item['finished'] %} <strike> {%  endif %}{{ item['item'] }}{% if item['finished'] %} </strike> {%  endif %}</td>
                                <td><center>{% if item['finished'] %} <strike> {%  endif %}{{ item['duedate'] }}{% if item['finished'] %} </strike> {%  endif %}</center></td>
                                <td>
                                
                                    <center class="text-success">
                                        {% if item['finished'] %}
                                            Goal Achieved <span class="glyphicon glyphicon-ok" aria-hidden="true">
                                        {% else %}
                                            <a href="{{ url_for('bucketlist.finish_bucketlist_item', b_id=bucketlist['id'] , bi_id=item['id']) }}" class="btn btn-success">
                                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Done?</a>
                                        {%  endif %}
                                        <a href="{{ url_for('bucketlist.edit_bucketlist_item', b_id=bucketlist['id'] , bi_id=item['id']) }}" class="btn btn-primary">
                                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Change
                                        </a>
                                        <a href="{{ url_for('bucketlist.delete_bucketlist_item', b_id=bucketlist['id'] , bi_id=item['id']) }}" class="btn btn-danger">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                                        </a>
                                    </center>
                                </td>
                                </tr>
                        {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="alert alert-info" role="alert">
                Add Goals to your new Bucketlist
            </div>
        {% endif %}
    </div>
</main>
{% endblock %}