html, body {
    font-size: 1em;
    line-height: 1.4;
    background-color: #fff;
    height: 100%;
    width: 100%;
}

main {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
}

body, h1, h2, h3 {
    font-family: 'Fira Code', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    font-size: 1.25em;
}

.bg-image {
    display: flex;
    align-items: center;
    background: url(../img/bg-image.jpg) no-repeat center center;
    background-size: cover;
}

.message {
    font-size: xx-large;
    color: red;
}

.font-white {
    color: #fff !important;
}

.prof-input {
    height: 35%;
}

.menu-item {
    background-color: yellow;
    height: 150px;
    width: 250px;
    margin: 20px;
}

.prof-menu {
    height: 65%;
}
